# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml
tubeszb-efr32-mgm24-testing.yaml
tubeszb-efr32-mgm24-2023-bp.yaml